{% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
<hr>
<h1>ТО Порядок</h1>
<a href="{% url 'unit-create' %}">Добавить в очередь</a>

<form method="get">
    <input type="text" name="search-area" value="{{ search_input }}">
    <input type="submit" value="Search">
</form>

<table>
    <tr>
        <th>Погрузчик</th>
        <th></th>
    </tr>
    {% for unit in units %}
    <tr>
        <td>{{unit.title}}</td>
        <td><a href="{% url 'unit' unit.id %}">Посмотреть</a></td>
        <td><a href="{% url 'unit-update' unit.id %}">Изменить</a></td>
        <td><a href="{% url 'unit-delete' unit.id %}">Удалить</a></td>
    </tr>
    {% empty %}
        <h3>Очередь пуста</h3>
    {% endfor %}
</table>